{% extends "blog/base.html" %}

<!-- user.is_authenticated -->
{% block content %}
	<div class="main-container text-center">
		<br><br><br>
		<h1>Sorry, that page doesn’t exist for you! (404)</h1>
		<h1><a href="/login/">Login to access to your own posts!</a></h1>
	</div>
{% endblock %}


<!-- user.is_not_authenticated -->
{% block usercontent %}
    <div class="main-container text-center">
		<br><br><br>
		<h1>Sorry, that page doesn’t exist for you! (404)</h1>
		<h1><a href="/login/">Login to access to your own posts!</a></h1>
	</div>
{% endblock %}
