{% extends "blog/base.html" %}

{% block headcontent %}
            <div class="slogan">
                <p>Collect the to-read list.</p>
                <form method="POST" class="post-form">{% csrf_token %}
                <div class="input-group">
                  <input type="text" name="url-input" class="form-control" placeholder="Input the article URL">
                  <span class="input-group-btn">
                    <input type="submit" class="top-menu btn btn-default" value="Create">
                  </span>
                </div>
                </form>
            </div>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="col-md-4 col-sm-6 item">
	    	<div class="thumbnail">
	         <div class="post">
		         {% if post.image %}
	                <img src="{{ post.image }}" alt="">
	       		 {% endif %}
	         <div class="caption">
	            <h1><a href="{% url "blog.views.post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
	            <p>{{ post.text|linebreaks }}</p>
	            <a href="{{post.link}}">Original Link</a>
	         </div>
	        </div>
	        </div>
        </div>
    {% endfor %}
{% endblock content %}

