{% extends "blog/base.html" %}

{% block content %}
    <div class="col-lg-4 col-md-6 col-sm-12 item">
        <div class="thumbnail">
            <div class="post"> 
                {% if post.image %}
                    <img src="{{ post.image }}" alt="">
                {% endif %}
                <div class="caption">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.summary|linebreaks }}</p>  
                    <a href="{{post.link}}" class="originallink">{{ post.source }}</a>
                    <br>
                </div>  
            </div> 
        </div>
        <a class="btn btn-default" href="{% url "post_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"> Edit</span></a>
        <a class="btn btn-default" href="/"><span class="glyphicon glyphicon-home"> Home</span></a>
    </div>
{% endblock %}



