{% extends "blog/base.html" %}

{% block usercontent %}
	<div class="main-container">
		<h1>Please <a href="/login/">Login</a> to edit your own post.</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="main-container">
	    <h1>New post</h1>
	    <br>
	    <div class="edit-post">
		    <form method="POST" class="post-form">{% csrf_token %}
		        {{ form.as_p }}
		        <button type="submit" class="save btn btn-default">Save</button>
		    </form>
	    </div>
    </div>
{% endblock %}